* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
*,
:after,
:before {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
img {
  max-width: 100%;
}
